.back{

    margin-right: 10%;
    margin-top: 1%;
    width: 150px;

    
}

.image2{

    margin-left: 20%;
    width: 400px;
    float: right;
}


.form1{

        float: left;
        width: 400px;


}

