.feeback-topic{
    margin-top: 2%;
    padding: 2%;
    text-align: center;
}

.feedback-div{
    padding-right: 5%;
    padding-left: 5%;
}

.feedback-btn{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}