.image1{

    margin-left: 35%;
   
}

.tutes{

    margin-left: 35%;

}

 .pastpaper{

    margin-left: 35%;
    margin-top: 1%;
    
} 

.addtutes{

    margin-right: 5%;
    width: 150px;


}

.addpp{

    margin-right: 5%;
    width: 150px;
}










